# Python virtual environment
.venv/
env/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# PyInstaller
dist/
build/
*.spec

# VSCode settings
.vscode/
